@import "../bower_components/bootstrap/dist/css/bootstrap.min.css";
@import "../bower_components/bootstrap/dist/css/bootstrap.css.map";
@import "../bower_components/bootstrap-material-design/dist/css/material-fullpalette.min.css";
@import "../bower_components/bootstrap-material-design/dist/css/material-fullpalette.css.map";
@import "http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css";

#welcome {
  position: relative;
  top: 10em;
  left:5em;
}

#welcome h1 {
  font-size: 5.5em;
}

#welcome a {
  position: relative;
  left: 2em;
}

section {
  min-height: 100%;
}

.pokemon {
	padding: 15px;
}
.abilities {
	display: flex;
	flex-flow: row wrap;
}

.page-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}

.page-enter.page-enter-active {
  opacity: 1;
}

.page-leave {
  opacity: 1;
  transition: opacity .15s ease-in-out;
}

.page-leave.page-leave-active {
  opacity: 0.01;
}

#index {
  width: 100%;
}